@font-face {
  font-family: "MADE Dillan";
  src: url("/public/made_dillan.woff2") format("woff2");
}

html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 16px;
}

a {
  color: #9e358f;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #353535;
  font-family: "MADE Dillan", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.02em;
}

p img {
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

code,
pre {
  font-family: Inconsolata, Monaco, Consolas, monospace;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  background-color: #f9f9f9;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
}

pre code {
  padding-right: 1rem;
}

.text-center {
  text-align: center;
}

/* All of this for my pic, I'm a narcisist */

.masthead-title {
  width: 100%;
}

.masthead img {
  display: block;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  height: 5rem;
  border-radius: 2.5rem;
  border: 2px solid #000000;
}

.masthead-title a {
  display: block;
  text-align: center;
  color: #353535;
  font-weight: 400;
}

.masthead-title small {
  font-size: 65%;
  font-weight: 400;
  color: #666666;
  letter-spacing: 0;
  display: block;
  text-align: center;
  letter-spacing: 0.8px;
}

.post {
  margin-bottom: 2rem;
}

.post-title,
.post-title a {
  color: #353535;
}

.post-title-link {
  font-size: 1.3rem;
  text-align: left;
}

.post-title-link a:hover {
  text-decoration: none;
}

.post-date {
  text-align: center;
}

div.highlight {
  border-left: solid 5px #9825fb;
}

.post-closure {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
}

.icon-closure {
  padding: 0.4rem;
  color: #f4f4f4;
}

.icon-commentary {
  padding-left: 0.5rem;
  color: rgb(169, 169, 169);
  transition: color 0.5s;
}

.icon-commentary:hover {
  color: #303030;
}

.pagination {
  margin: 0.3rem 0;
}

.pagination-item {
  background-color: #ffffff;
  color: #a9a9a9;
  border: none;
  font-size: 3rem;
  padding: 0;
}

a.pagination-item {
  color: #515151;
}

a.pagination-item:hover {
  text-decoration: none;
  background-color: #ffffff;
}

.footer {
  margin-top: 3rem;
  font-size: 0.8rem;
}

.social-icons {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
}

.social-icons a {
  color: #999999;
}

.twitter-share-button {
  vertical-align: text-bottom !important;
  margin-left: 2rem;
}

.search-form {
  text-align: center;
  margin-bottom: 1rem;
}

.search-form input {
  height: 1.3rem;
  padding: 0.3rem;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #353535;
}

.search-form input:focus {
  border-color: #353535;
}

.webring-container {
  text-align: center;
  margin: 0.9rem auto;
  max-width: 24rem;
  line-height: 1;
}

@media only screen and (min-width: 768px) {
  /* Some responsive stuff :-))) */

  html {
    font-size: 20px; /* Raffaella this is your fault :-D */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  .masthead-title {
    width: auto;
    display: inline;
  }

  .masthead-title a {
    display: inline;
    text-align: left;
  }

  .masthead img {
    display: inline;
    vertical-align: middle;
    height: 3rem;
    border-radius: 1.5rem;
  }

  .masthead-title small {
    display: inline;
    text-align: left;
  }

  .social-icons {
    display: inline;
    font-size: 1.4rem;
    margin-left: 5%;
    vertical-align: middle;
  }

  .post-date {
    text-align: left;
  }
}
