---
layout: default
---

<article class="post post-single post-link">
  <header class="post-header">
    {% assign post_lang = page.lang | default: site.lang %}
    <div class="post-card-meta">
      <span class="lang-badge lang-{{ post_lang | downcase }}">{{ post_lang | upcase }}</span>
      <span class="meta-date"><i class="fa fa-link" aria-hidden="true"></i> linked on {{ page.date | date_to_string }}</span>
      {% if page.categories.size > 0 %}
        <span class="meta-sep" aria-hidden="true">·</span>
        <span class="meta-cat">{{ page.categories | first | downcase }}</span>
      {% endif %}
    </div>
    <h1 class="post-title post-title-link">
      <a href="{{ page.origlink }}">{{ page.title }}</a>
      <i class="fa fa-external-link-alt" aria-hidden="true"></i>
    </h1>
  </header>
  <div class="post-body">
    {{ content }}
  </div>
</article>

<section class="comments" aria-label="Comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'blasterhome';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>

{% if site.related_posts.size > 0 %}
<section class="related" aria-label="Related posts">
  <h2 class="related-title">// related</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a class="related-card" href="{{ site.url }}{{ post.url }}">
          <span class="related-card-date">{{ post.date | date_to_string }}</span>
          <span class="related-card-title">{{ post.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
